@{
    ViewData["Title"] = "Conclusão de Matéria";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Acesse o menu superior para ter acesso ao CRUD, feito em ASP.NET Core 5.0 com banco de dados SQLServer + EF</a>.</p>
</div>
